In [1]:
# Import our dependencies

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
import pandas as pd
#import tensorflow as tf

#  Import and read the WELFake_Dataset.csv.
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
news_df = pd.read_csv("WELFake_Dataset.csv")
news_df.head()

,Unnamed: 0,title,text,label
0,0,LAW ENFORCEMENT ON HIGH ALERT Following Threat...,No comment is expected from Barack Obama Membe...,1
1,1,NaN,Did they post their votes for Hillary already?,1
2,2,UNBELIEVABLE! OBAMA’S ATTORNEY GENERAL SAYS MO...,"Now, most of the demonstrators gathered last ...",1
3,3,"Bobby Jindal, raised Hindu, uses story of Chri...",A dozen politically active pastors came here f...,0
4,4,SATAN 2: Russia unvelis an image of its terrif...,"The RS-28 Sarmat missile, dubbed Satan 2, will...",1

In [2]:
# Cleanin Null values
news_df.isnull().sum()

Unnamed: 0      0
title         558
text           39
label           0
dtype: int64

In [3]:
news_df.dropna(inplace=True)
news_df.isnull().sum()

Unnamed: 0    0
title         0
text          0
label         0
dtype: int64

In [4]:
# finding Datatypes
news_df.dtypes

Unnamed: 0     int64
title         object
text          object
label          int64
dtype: object

In [5]:
# Statistic for text column
text_lenght = news_df.text.str.split().str.len()
text_lenght.describe()

count    71537.000000
mean       544.562814
std        626.341486
min          0.000000
25%        232.000000
50%        401.000000
75%        670.000000
max      24234.000000
Name: text, dtype: float64

In [6]:
# Statisci for title columns
title_lenght = news_df.title.str.split().str.len()
title_lenght.describe()

count    71537.000000
mean        12.265695
std          4.132163
min          1.000000
25%          9.000000
50%         12.000000
75%         14.000000
max         72.000000
Name: title, dtype: float64

In [7]:
# Drop Unnecessary Columns
news_df=news_df.drop("Unnamed: 0", axis=1)
news_df.head()

,title,text,label
0,LAW ENFORCEMENT ON HIGH ALERT Following Threat...,No comment is expected from Barack Obama Membe...,1
2,UNBELIEVABLE! OBAMA’S ATTORNEY GENERAL SAYS MO...,"Now, most of the demonstrators gathered last ...",1
3,"Bobby Jindal, raised Hindu, uses story of Chri...",A dozen politically active pastors came here f...,0
4,SATAN 2: Russia unvelis an image of its terrif...,"The RS-28 Sarmat missile, dubbed Satan 2, will...",1
5,About Time! Christian Group Sues Amazon and SP...,All we can say on this one is it s about time ...,1

In [8]:
news_df['label'].value_counts

NameError: name 'news_dfs' is not defined

In [ ]:
# Counting with plot both labels
sns.countplot(x="label", data=news_df)